In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\omnic\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\omnic\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\omnic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\omnic\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\omnic\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\omnic\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [3]:
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
dataset = []
with open('Market_Basket_Optimisation.csv')as file:
    reader = csv.reader(file, delimiter=',')
    for row in reader:
        dataset += [row]

In [6]:
len(dataset)

7501

In [8]:
te = TransactionEncoder()
x = te.fit_transform(dataset)
x

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [10]:
df = pd.DataFrame(x,columns=te.columns_)

In [15]:
freq_itemset = apriori(df, min_support=0.01, use_colnames=True)

In [16]:
freq_itemset

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, mineral water, milk)
253  0.017064  (ground beef, spaghetti, mineral water)
254  0.015731         (spaghetti, mineral water, milk)
255  0.010265    (spaghetti, olive oil, mineral water)
256  0.011465     (spaghetti, mineral water, pancakes)

[257 rows x 2 columns]

In [17]:
rules = association_rules(freq_itemset, metric= 'confidence', min_threshold=0.25)

In [18]:
rules

                   antecedents      consequents  ...  conviction  zhangs_metric
0                    (avocado)  (mineral water)  ...    1.168147       0.325896
1                    (burgers)           (eggs)  ...    1.224818       0.499424
2                    (burgers)   (french fries)  ...    1.108844       0.353384
3                    (burgers)  (mineral water)  ...    1.057552       0.162275
4                       (cake)  (mineral water)  ...    1.151921       0.322617
..                         ...              ...  ...         ...            ...
90       (mineral water, milk)      (spaghetti)  ...    1.228597       0.492451
91      (spaghetti, olive oil)  (mineral water)  ...    1.378954       0.478514
92  (olive oil, mineral water)      (spaghetti)  ...    1.315071       0.547034
93       (spaghetti, pancakes)  (mineral water)  ...    1.397557       0.488452
94   (mineral water, pancakes)      (spaghetti)  ...    1.251198       0.504819

[95 rows x 10 columns]

In [19]:
rules = rules [['antecedents','consequents','support','confidence']]

In [20]:
rules.head()

  antecedents      consequents   support  confidence
0   (avocado)  (mineral water)  0.011598    0.348000
1   (burgers)           (eggs)  0.028796    0.330275
2   (burgers)   (french fries)  0.021997    0.252294
3   (burgers)  (mineral water)  0.024397    0.279817
4      (cake)  (mineral water)  0.027463    0.338816

In [22]:
rules[rules['antecedents']=={'cake'}]['consequents']

4    (mineral water)
Name: consequents, dtype: object